zone    "{{domain}}"   {
        type master;
        file    "/etc/bind/forward.{{domain}}";
};

zone   "{{network | ipaddr('revdns') | regex_replace('^\d+\.(.+)$', '\\1')}}" {
       type master;
       file    "/etc/bind/reverse.{{domain}}";
};

