$TTL    604800

@       IN      SOA     {{hostname}}.{{domain}}. root.{{hostname}}.{{domain}}. (
                              6         ; Serial
                         604820         ; Refresh
                          86600         ; Retry
                        2419600         ; Expire
                         604600 )       ; Negative Cache TTL

;Name Server Information
@       IN      NS      {{hostname}}.{{domain}}.

;IP address of Your Domain Name Server(DNS)
primary IN       A      {{ip_address | ipaddr('address')}}
{{hostname}}	IN	A	{{ip_address | ipaddr('address')}}

;Mail Server MX (Mail exchanger) Record
;{{domain}}. IN  MX  10  mail.{{domain}}.

;A Record for Host names
;www     IN       A       192.168.0.50
;mail    IN       A       192.168.0.60

;CNAME Record
;ftp     IN      CNAME    www.{{domain}}.

