// Managing acls
acl internals { 127.0.0.0/8; {{network}}; fe80::/64; };

options {
	directory "/var/cache/bind";
	version "Go Away 0.0.7";
	notify no;
	empty-zones-enable no;
	auth-nxdomain no; # conform to RFC1035
	forwarders { {{nameservers | regex_replace('[\[\]]', '') | regex_replace(',', '; ') }}; };
	allow-transfer { none; };

	dnssec-validation no;
	dnssec-enable no;
	dnssec-lookaside no;

	listen-on port 53 { {{ip_address | ipaddr('address')}}; 127.0.0.1; ::1; };
	minimal-responses yes;

	allow-query { "internals"; localhost; };
	recursion yes;
	allow-recursion { "internals"; localhost; };

{% if 'active_directory' in ansible_play_role_names %}        tkey-gssapi-keytab "/var/lib/samba/private/dns.keytab";{% endif %}

};
