// Managing acls
acl internals { 127.0.0.0/8; {{network}}; };

options {
	directory "/var/cache/bind";
	version "Go Away 0.0.7";
	notify no;
	empty-zones-enable no;
	auth-nxdomain no; # conform to RFC1035
	forwarders { {{nameservers}}; };
	allow-transfer { none; };

	dnssec-validation no;
	dnssec-enable no;
	dnssec-lookaside no;

	listen-on port 53 { {{ip_address | ipaddr('address')}}; 127.0.0.1; ::1; };
	minimal-responses yes;

	allow-query { "internals"; localhost; {{network}}; };
	recursion yes;
	allow-recursion { "internals"; localhost; {{network}}; };

};
