---

# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses: {{ip_address}}
      gateway4: {{gateway}}
      nameservers:
        addresses: {{nameservers}}

