[active_directory]
title=Active Directory
description=Includes Kerberos, NetBIOS, LDAP, Global Catalog, EPMAP, and SMB traffic
ports=88|464|137|138|139|389|636|3268|3269|135|445/tcp|49152/tcp|49153/tcp|49154/tcp
